<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="/cart">Carrinho</a></li>
                    <li class="dropdown dropdown-small">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle"><span
                                class="key">Categorias</span><span> </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {if="totalCategories() != 0 "}
                            {include="categories-menu"}
                            {else}
                            Nenhuma Cadastrada
                            {/if}
                        </ul>
                    </li>
                    <li class="active" class="dropdown dropdown-small">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                class="key">Marcas</span><span class="value"> </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {if="totalBrands() != 0 "}
                            {include="brands-menu"}
                            {else}
                            Nenhuma Cadastrada
                            {/if}
                        </ul>
                    </li>
                </ul>

                  <form action="/products" method="get" >
                        <div class="input-group" style="padding-top: 12px;">
                          <input  type="text" name="search"  class="form-control" placeholder="Pesquisar...">
                              <span  class="input-group-btn">
                                <button  style="height: 32px;"type="submit"  id="search-btn"  ><i class="fa fa-search"style="font-size:13px;" > PESQUISAR</i>
                                </button>
                              </span>
                        </div>
                      </form>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
<br>


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><b>{$brand.desbrand}</b><br><b
                            style="font-size: 20px;">{function="averageRate($brand.idbrand)"}</b></h2>

                </div>

            </div>
        </div>
    </div>
</div>
<br>
{if="$errorRate!= ''"}
                <div class="alert alert-danger">
                    <center>{$errorRate}</center>
                </div>
{/if}
{if="checkLogin(false)"}

 {if="$SuccessRate != ''"}
                <div class="alert alert-success">
                    <center>{$SuccessRate}</center>
                </div>
                {/if}
<center><button type="submit" data-toggle="modal" data-target="#avaliactions">
        <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
            class="fa fa-star-o"></i><i class="fa fa-star-o"></i> &nbsp;Dê sua nota </button></center>


<!-- Modal -->
<div class="modal fade" id="avaliactions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><b>
                    </b>{$brand.desbrand}</h3>

                <br>
            </div>

            <div class="modal-body">

                <form role="form" action="/brand/{$brand.idbrand}/{$user.iduser}/add" method="post">

                    <p> <input value="{$brand.idbrand}" name="idbrand" type="hidden"></p>
                    <p> <input value="{$user.iduser}" name="iduser" type="hidden"></p>
                    <p> <input value="{$brand.desbrand}" name="desbrand" type="hidden"></p>
                    <p><input value='{function="getUserName()"}' name="desperson" type="hidden" required=""></p>
                    <p><input value='{function="getEmail()"}' name="desemail" type="hidden" required=""></p>

                    <label for="rate">Nota</label>
                    <div class="rating">
                        <input type="radio" name="rate" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rate" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rate" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rate" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rate" value="1" id="1" checked><label for="1">☆</label>
                    </div>
                    <hr>
                    <p><input type="submit" value="Enviar"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End  Modal -->
{/if}

  
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$products"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <a href="/products/{$value.desurl}"> <img src="{$value.desphoto}" class="products"alt=""></a>
                    </div>
                    <h2><a style="color: #1C1C1C;text-decoration: none;" href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                    <div class="product-carousel-price">
                        <ins style="color: #688A08;font-size: 20px;">R$ {function="formatPrice($value.vlprice)"}</ins><br>

                        <ins style="font-size: 13px;">{function="average($value.idproduct)"}</ins>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/cart/{$value.idproduct}/add">Comprar</a>
                    </div>
                </div>
            </div>
             {else}
                 <div class="alert alert-info">
                 <b>Nenhum produto nessa marca</b>
                 </div>
            {/loop}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                   <div class="pagination">
                         {if="$numPage > 1"} 
                       
                            <a href="/brand/{$brand.idbrand}?page={$back}" aria-label="Previous">&laquo;</a>                       
                        {/if}

                         {loop="$pages"}
                          {if="$pageName == $value.link"} 
                        <a class="active"href="{$value.link}">{$value.page}</a>
                        {else}
                        <a href="{$value.link}">{$value.page}</a>
                          {/if}
                        {/loop}
                     
                      
                         {if="$numPage < $totalPage"} 
                       
                             <a href="/brand/{$brand.idbrand}?page={$next}" aria-label="Previous">&raquo;</a>                      
                        {/if}
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>