<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/products">Produtos</a></li>
                    <li><a href="/cart">Carrinho</a></li>
                    <li class="dropdown dropdown-small">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle"><span
                                class="key">Categorias</span><span> </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {if="totalBrands() != 0 "}
                            {include="brands-menu"}
                            {else}
                            Nenhuma Cadastrada
                            {/if}
                        </ul>
                    </li>
                    <li class="dropdown dropdown-small">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                class="key">Marcas</span><span class="value"> </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {if="totalBrands() != 0 "}
                            {include="brands-menu"}
                            {else}
                            Nenhuma Cadastrada
                            {/if}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
<br>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="product-content-right">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img style="height: 30em;width: 30em;" src="{$product.desphoto}"><br>

                                    <div id="myWorkContent">

                                        {loop="$products"}
                                        <a class="image-link" href="{$value.desphoto}"><img
                                                style="height: 6em;width: 6em;" class="photo"
                                                src="{$value.desphoto}"></a>
                                        {/loop}

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{$product.desproduct}</h2>
                                <div class="product-inner-price">
                                    <h3><b>R$ {function="formatPrice($product.vlprice)"}</b></h3>
                                </div>

                                <form action="/cart/{$product.idproduct}/add" class="cart">

                                    <button value="Comprar" type="submit"><i class="fa fa-cart-plus"
                                            aria-hidden="true"></i>&nbsp;&nbsp;Adicionar no carrinho</button>
                                </form>
                                {if="$total.avaliactions == 0"}
                                <b style="font-size: 16px">{function="average($product.idproduct)"}</b>
                                &nbsp;<b style="font-size: 15px"> Produto não avaliado</b>
                                {else}
                                <b style="font-size: 16px">{function="average($product.idproduct)"}</b>
                                &nbsp;&nbsp;&nbsp;<b style="font-size: 16px"><i class="fa fa-comments-o"></i>
                                    {$total.avaliactions}</b>
                                {/if}
                                <div class="product-inner-category">
                                    <br>
                                    <b>
                                        <p>Marca:
                                    </b> {loop="$brands"} <a href="/brand/{$value.idbrand}">{$value.desbrand}</a>{/loop}
                                    <b>
                                        <p>Categorias:
                                    </b> {loop="$categories"} <a
                                        href="/categories/{$value.idcategory}">{$value.descategory}</a>{/loop}
                                </div>

                                {if="$avaliactionsSuccess == true"}
                                <div class="alert alert-success">
                                    <center>{$avaliactionsSuccess}</center>
                                </div>
                                {/if}

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                role="tab" data-toggle="tab">Descrição</a></li>
                                        {if="checkLogin(false)"}
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                data-toggle="tab">Avaliar Produto</a></li>
                                        {else}
                                        <li role="presentation"><a href="#profile" data-toggle="modal"
                                                data-target="#registerAvaliaction">Avaliar Produto</a></li>
                                        {/if}
                                    </ul>

                                    <!-- Modal -->
                                    <div class="modal fade" id="registerAvaliaction" tabindex="-1" role="dialog"
                                        aria-labelledby="registerAvaliaction" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h5 class="modal-title" id="exampleModalLabel"><b>
                                                            Avaliar Produto</b></h5>

                                                    <br>
                                                </div>

                                                <div class="modal-body">
                                                    <h4 style="font-size: 16px">Para avaliar o produto é necessário
                                                        realizar <b>login</b> ou <b>cadastro.</b> </h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form role="form" action="/login">
                                                        <input type="submit" value="logar ou cadastrar">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End  Modal -->

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2><b>Descrição do Produto</b>
                                                <h2>
                                                    <p style="font-size: 16px;text-align: justify;">
                                                        {$product.desdescription}</p>

                                        </div>
                                        {if="checkLogin(false)"}
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Sua Avaliação</h2>
                                            <div class="submit-review">
                                                <form role="form" action="/products/{$product.desurl}/" method="post">
                                                    <p> <input value="{$product.idproduct}" name="idproduct"
                                                            type="hidden"></p>
                                                    <input value="{$product.desurl}" name="desurl" type="hidden"></p>
                                                    <p> <input value="{$user.iduser}" name="iduser" type="hidden"></p>
                                                    <p> <input value="{$product.desproduct}" name="desproduct"
                                                            type="hidden"></p>
                                                    <p><input value='{function="getUserName()"}' name="desperson"
                                                            type="hidden" required=""></p>
                                                    <p><input value='{function="getEmail()"}' name="desemail"
                                                            type="hidden" required=""></p>

                                                    <label for="rate">Nota</label>
                                                    <div class="rating">
                                                        <input type="radio" name="rate" value="5" id="5"><label
                                                            for="5">☆</label>
                                                        <input type="radio" name="rate" value="4" id="4"><label
                                                            for="4">☆</label>
                                                        <input type="radio" name="rate" value="3" id="3"><label
                                                            for="3">☆</label>
                                                        <input type="radio" name="rate" value="2" id="2"><label
                                                            for="2">☆</label>
                                                        <input type="radio" name="rate" value="1" id="1" checked><label
                                                            for="1">☆</label>

                                                    </div><br>


                                                    <p><label for="review">Comentar</label> <textarea name="review"
                                                            id="" cols="30" rows="10" required></textarea></p>

                                                    <p><input type="submit" value="Enviar"></p>

                                                </form>

                                            </div>

                                        </div>
                                        {/if}
                                    </div>
                                </div>
                                <hr>

                                <center><button type="submit" data-toggle="modal" data-target="#avaliactions">
                                        <i class="fa fa-comments-o"></i> &nbsp;Avaliações</button></center>

                                <!-- Modal -->
                                <div class="modal fade" id="avaliactions" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h5 class="modal-title" id="exampleModalLabel"><b>
                                                        {if="$total.avaliactions == 0"}Produto não avaliado
                                                        {elseif="$total.avaliactions == 0"}{$total.avaliactions}
                                                        Avaliação
                                                        {else}{$total.avaliactions} Avaliações{/if}</b></h5>

                                                <br>
                                            </div>


                                            <div class="modal-body">
                                                {loop="$avaliactions"}

                                                {if="$value.rate == 1.0"}
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                {elseif="$value.rate == 2.0"}
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                {elseif="$value.rate == 3.0"}
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                {elseif="$value.rate == 4.0"}
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star-o"></i>
                                                {else}
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                <i style="color:#FFD600;" class="fa fa-star"></i>
                                                {/if}
                                                &nbsp;{$value.rate}&nbsp;&nbsp;<i style="margin-left: 25em"
                                                    class="fa fa-calendar"></i>&nbsp;{function="formatDate($value.dtregister)"}
                                                <br>
                                                <img style="height: 30px;width: 30px;"
                                                    src="/res/site/img/user_coment.png">
                                                <b>{$value.desperson}</b><br><br>
                                                <i class="fa fa-commenting-o"> &nbsp;</i>{$value.review}
                                                <hr>
                                                {/loop}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>