<div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="/">Home</a></li>
                        <li class="active"><a href="/products">Produtos</a></li>
                        <li ><a href="/cart">Carrinho</a></li>
                        <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" ><span class="key">Categorias</span><span > </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                {if="totalCategories() != 0 "}
                                {include="categories-menu"}
                                {else}
                                Nenhuma Cadastrada
                                {/if}
                                </ul>
                        </li>
                         <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Marcas</span><span class="value"> </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">                                 
                                    {if="totalBrands() != 0 "}
                                    {include="brands-menu"}
                                    {else}
                                    Nenhuma Cadastrada
                                    {/if}
                                </ul>
                        </li>
                    </ul>
                      <form action="/products" method="get" >
                        <div class="input-group" style="padding-top: 12px;">
                          <input  type="text" name="search"  class="form-control" placeholder="Pesquisar...">
                              <span  class="input-group-btn">
                                <button  style="height: 32px;"type="submit"  id="search-btn"  ><i class="fa fa-search"style="font-size:13px;" > PESQUISAR</i>
                                </button>
                              </span>
                        </div>
                      </form>
                </div>  
            </div>
        </div>
    </div> <!-- End mainmenu area -->
 <br>


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><b>Produtos</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$products"}
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <div class="product-upper">
                        <a href="/products/{$value.desurl}"> <img src="{$value.desphoto}" class="products"alt=""></a>
                    </div>
                    <h2><a style="text-decoration: none;" href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                    <div class="product-carousel-price">
                        <ins style="color: #688A08;font-size: 20px;">R$ {function="formatPrice($value.vlprice)"}</ins><br>
                        <ins style="font-size: 13px;">{function="average($value.idproduct)"}</ins> 
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/{$value.idproduct}/add">Comprar</a>
                    </div>                       
                </div>
            </div>
             {else}
                 <div class="alert alert-info">
                 <b>Produto não encontrado</b>
                 </div>
            {/loop}
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                  
                    <div class="pagination">
                         {if="$numPage > 1"} 
                       
                            <a href="/products?page={$back}" aria-label="Previous">&laquo;</a>                       
                        {/if}

                         {loop="$pages"}
                          {if="$pageName == $value.link"} 
                        <a class="active"href="{$value.link}">{$value.page}</a>
                        {else}
                        <a href="{$value.link}">{$value.page}</a>
                          {/if}
                        {/loop}
                     
                      
                         {if="$numPage < $totalPage"} 
                       
                             <a href="/products?page={$next}" aria-label="Previous">&raquo;</a>                      
                        {/if}
                    </div>      

                </div>
            </div>
        </div>
    </div>
</div>